[submodule "TeraCommon"]
	path = TeraCommon
	url = https://github.com/michaelcarno/TeraCore
[submodule "TeraDpsMeterData"]
	path = resources/data
	url = git@github.com:michaelcarno/TeraDpsMeterData.git
